
.divMenu {

}

.divTitle1 {
    position: absolute;
    left: 1%;
}

.divTitle2 {

    position: absolute;
    top: 5%;
    left: 29%;
}

.divSearch {

    position: absolute;

    right: 10%;
}

.divModifier {

    position: absolute;
    top: 5%;
    right: 1%;
}
.divSelect {
    width: 100%;
    background-color: #721c24;
    position: relative;
    top: 2%;
}

.divSelects {
    width: 25%;
    background-color: #6f42c1;
    position: absolute;
    top: 15%;
    left: 1%;
}


.table {
    width: 75%;
    position: relative;
    left: 1%;
    top: 15%;
}